# Java files
*.class
*.jar
*.war
*.ear
*.nar
*.car
*.jks
*.javadoc
*.log
*.ctxt
*.project
*.classpath
*.settings/
*.factorypath
*.iml
*.ipr
*.iws
/.idea/
/out/
/bin/
/build/
target/
.gradle/
**/build/
**/out/
!gradle/wrapper/gradle-wrapper.jar

# Java backup files
*.bak
*.tmp
*.swp

# Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
*.launch
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.nb-gradle/

# VS Code
.vscode/

# TeX files
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.blg
*.bbl
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.ps
*.dvi
*.pdf
*.log
*.ilg
*.ind
*.idx
*.tex~
*.tex.bak
*.thm

# TeX directories
auto/
*.egg-info/
**/__pycache__/

# Misc
.DS_Store
Thumbs.db